.main-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.newstrail-logo { 
    height: 100px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
}

::ng-deep .mat-mdc-tab-header {
    width: 500px !important;
    display: flex;
    justify-content: center; /* Center horizontally */
    margin: 0 auto; /* Center container horizontally */
}

::ng-deep .mat-mdc-tab-body {
    width: 100vw; /* Full viewport width */
    box-sizing: border-box; /* Include padding and border in the element’s total width */
}

::ng-deep .mat-mdc-tab-body-content {
    width: 100%;
    box-sizing: border-box; /* Ensure it respects padding and border */
}

  
// .box {
//   position: absolute;
//   width: 300px;
//   text-align: center;
//   transition: all 0.5s ease-in-out;
// }

// .top-box {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   width: 100%;
//   transform: translate(-50%, -50%); /* Center the box */
// }
  

  